.stages {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.stage-card {
  margin: 20px;
  // flex-basis: 50px;
  min-width: 200px;
}

.omega {
  background-color: black;
  color: yellow;
}

.eger {
  background-color: royalblue;
  color: crimson;
}

.egom {
  background-color: burlywood;
  color: black
}

.puf {
  background-color: firebrick;
  color: black;
}

.falka {
  background-color: seagreen;
  color: #fff
}

.szabad {
  order: -1;
}

.mat-panel-title {
  text-transform: capitalize;
}

.closed-panel {
  order: 3;
}

.jeloltek {
  min-height: 20px;
}

.item {
  cursor: -webkit-grab;
  display: flex;
  justify-content: space-between;
}

.data-value {
  margin: 0 5px;
}